.offer{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    margin-bottom: 150px;
    padding: 0px 140px;
    background: linear-gradient(180deg, #fde1fd 0%, #e1ffaa22 60%);
}

.offer-left{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.offer-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offer-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offer-left button{
    width: 282px;
    height: 80px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}
.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}