.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: bisque;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 50px;
    color: rgb(222, 179, 255);
    font-size: 20px;
    font-weight: 500px;
}

.nav-menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
}
.nav-menu hr{
border: none;
width: 80px;
height: 3px;
border-radius: 10px;
background: rebeccapurple;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1PX solid blue;
    border-radius: 75PX;
    color: chartreuse;
    font-size: 20PX;
    font-weight: 700;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count{
width: 22px;
height: 22px;
display: flex;
justify-content: center;
align-items: center;
margin-top: -35px;
margin-left: -55px;
border-radius: 11px;
font-size: 14px;
}
